extends layout

block content
  h1 Hello
  div(id="screen")

  script(src="javascripts/gsap/gsap.min.js")
  script(src="javascripts/gsap/PixiPlugin.min.js")
  script(src="javascripts/pixi-sound/pixi-sound.js")
  script(src="javascripts/pixi.js")
  script(src="javascripts/pixi.js")
  script(src="javascripts/setup.js")
  script(src="javascripts/client.js")
  

